<h1 class="page-header" ng-init="list()">Applications list</h1>

<div class="applications text-center ng-cloak" ng-show="loaded">
    <a ng-href="#/apps/{$ app.id $}"
       ng-repeat="app in applications"
       class="jumbotron container text-center">
        <img src="img/google-translate-logo.png"
             class="img-rounded logo"
             alt="logo #{$ app.id $}"/>

        <h3 class="title">{$ app.name $}</h3>

        <ul class="info">
            <li>{$ app.languages.length $} Localizations</li>
            <li>{int} Strings</li>
            <li>Last changes: {YYYY-MM-DD}</li>
            <li>Missed translations: {int}</li>
        </ul>
    </a>

    <div class="jumbotron creating" ng-class="{active: showCreateForm}">
        <div ng-hide="showCreateForm" ng-click="showCreateForm = true">
            <div class="glyphicon glyphicon-plus logo"></div>
            <h3 class="title">Create New App</h3>

            <p class="hint">Click here to create new awesome application</p>
        </div>
        <div ng-show="showCreateForm"
             ng-form="createForm"
             class="create-form-container">
            <div class="glyphicon glyphicon-plus logo"></div>
            <div class="form-group name"
                 ng-class="{'has-error': createForm.name.$dirty && createForm.name.$invalid}">
                <input type="text"
                       name="name"
                       class="form-control"
                       placeholder="Put your app name here"
                       ng-model="application.name"
                       autofocus
                       required
                       ng-maxlength="50"/>
            </div>
            <div class="form-group localization"
                 ng-class="{'has-error': createForm.language.$dirty && createForm.language.$invalid}">
                <ui-select ng-model="application.language" name="language"
                           required>
                    <ui-select-match placeholder="Default localization" allow-clear="true">
                        {$ $select.selected.name $}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="lang.name as lang in languages | filter: $select.search">
                        {$ lang.name $}
                    </ui-select-choices>
                </ui-select>
            </div>
            <button type="button"
                    class="btn btn-sm btn-default cancel"
                    ng-click="showCreateForm = false">cancel
            </button>
            <button type="button"
                    class="btn btn-sm btn-primary create"
                    ng-disabled="createForm.$invalid || createForm.$pristine"
                    ng-click="create()">create
            </button>
        </div>
    </div>
</div>
