<div class="page-header" ng-init="init()">
    <a class="btn btn-default back"
       href="#/apps">
        <span class="glyphicon glyphicon-chevron-left"></span>
        Back
    </a>
    <div class="application-name">
        <h1>{$ application.name $}</h1>
        <!--
        <h1 ng-show="!appNameEditMode">{$ application.name $}
            <button class="btn btn-sm btn-default edit" ng-click="toggleAppNameEditMode()">
                <span class="glyphicon glyphicon-pencil"></span>
            </button>
        </h1>
        <div class="form-inline form-group"
             ng-show="appNameEditMode"
             ng-form="appForm">
            <input class="form-control"
                   type="text"
                   name="name"
                   ng-model="appForm.name.value"
                   placeholder="Name of the current application"/>
            <button class="btn btn-default" ng-click="toggleAppNameEditMode()">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <button class="btn btn-primary" ng-click="saveName()">
                <span class="glyphicon glyphicon-ok"></span>
            </button>
        </div>
        -->
    </div>

    <div class="sections">
        <a class="btn btn-sm btn-default"
           ng-href="#/apps/{$ appId $}/participants">
            <span class="glyphicon glyphicon-user"></span>
            Participants
        </a>
    </div>
</div>

<div class="container-fluid" ng-show="loaded">
    <div class="row controls">
        <application-languages
                class="localization-list"
                available-languages="availableLanguages"
                app-languages="languages"
                languages-filter="languagesFilter"
                on-add="addLanguage"
                on-remove="removeLanguage">
        </application-languages>

        <div class="controls">
            <button class="btn btn-default"
                    type="button"
                    ng-click="resetTexts()"
                    ng-disabled="!textsChanged()">Reset
            </button>
            <button class="btn btn-primary"
                    type="button"
                    ng-click="saveTexts()"
                    ng-disabled="!textsChanged()">Save
            </button>
        </div>
        <!-- .controls -->
    </div>
    <!-- .controls -->

    <div class="row search">
        <div class="form-group form-inline">
            <div class="input-group">
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </div>
                <input type="text" class="form-control" ng-model="textFilter"
                       placeholder="Search"/>
                <div class="input-group-addon">
                    <span class="glyphicon glyphicon-remove pointer" ng-click="textFilter = ''"></span>
                </div>
            </div>
        </div>
    </div>
    <!-- .search -->

    <div class="row filters">
        <button type="button" class="btn btn-default missed">Missed only</button>
        <div class="screen">
            <div class="form-group">
                <ui-select ng-model="screenFilter" name="textTagFilter">
                    <ui-select-match placeholder="Screen filter" allow-clear="true">
                        {$ $select.selected.name $}
                    </ui-select-match>
                    <ui-select-choices
                            repeat="tag.name as tag in screens | filter: $select.search">
                        {$ tag.name $}
                    </ui-select-choices>
                </ui-select>
            </div>
        </div>
    </div>
    <!-- .filters -->

    <div class="row content">
        <div class="key-values" ng-repeat="(index, text) in texts | filter:textFilter">
            <div class="key">
                <span class="key-name">{$ text.key $}</span>
                <editable-screen-tags class="screen-tags"
                                      id="text.id"
                                      screens="text.screens"
                                      original="originalTexts[index].screens"
                                      available="availableScreens"
                                      on-set="setScreens"
                        ></editable-screen-tags>
            </div>
            <!-- .key -->

            <ul>
                <li ng-repeat="language in languages | texts_filter:languagesFilter">
                    <editable-text class="value"
                                   id="text.id"
                                   text="text.values[language.name]"
                                   original="originalTexts[index].values[language.name]"
                                   language="language.name"
                                   on-set="setText"
                                   on-rollback="rollbackText"></editable-text>
                </li>
            </ul>
            <!-- .values -->
        </div>
        <!-- .key-values -->
    </div>
    <!-- .content -->
</div>