<ul>
    <li ng-repeat="item in used" class="localization-list">
        <button class="btn btn-sm"
                ng-class="{'btn-default': item.unchecked, 'btn-primary': !item.unchecked}"
                ng-click="toggle(item.name)">
            <span class="name">{$ item.name $}</span>
            <span class="glyphicon glyphicon-remove"
                  ng-click="remove(item.name)"></span>
        </button>
    </li>
    <li>
        <button class="btn btn-sm btn-default"
                ng-click="showModal()">Add new...
        </button>
    </li>
</ul><!-- .localization-list -->