<label class="localization">{$ language $}: </label>

<span class="exists"
      ng-show="text && !editMode"
      ng-class="{'changed': isChanged()}"
      ng-click="toggleEditMode()">&quot;{$ text $}&quot;</span>

<span class="missed"
      ng-show="!text && !editMode"
      ng-click="toggleEditMode()">Translation missed</span>

<button class="btn btn-sm btn-warning"
        ng-show="isChanged() && !editMode"
        ng-click="rollback()">
    <span class="glyphicon glyphicon-refresh"></span>
</button>

<span class="form-inline" ng-show="editMode">
    <input class="form-control input-sm" type="text" ng-model="text" />
    <span class="field-controls btn-group-sm">
        <button class="btn btn-success" ng-click="save()">
            <span class="glyphicon glyphicon-ok"></span>
        </button>
        <button class="btn btn-warning" ng-click="reset()">
            <span class="glyphicon glyphicon-remove"></span>
        </button>
    </span>
</span>