.page-header > .btn.back {
    display: block;
    float: left;
    margin-right: 20px;
    margin-top: 5px;
}

.page-header > .application-name {
    display: inline;
}

.page-header > .application-name > h1 {
    margin: 0;
    display: inline;
}

.page-header > .application-name > .form-inline {
    display: inline-block;
    margin-bottom: 5px;
}

.page-header > .application-name > h1 > .btn.edit {
    visibility: hidden;
}

.page-header > .application-name:hover > h1 > .btn.edit {
    visibility: visible;
}

.page-header > .sections {
    float: right;
    margin-top: 9px;
}

.row.controls {
    margin-bottom: 10px;
}

.row.controls > .localization-list {
    float: left;
}

.row.controls > .controls {
    float: right;
}

.localization-list > ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.localization-list > ul > li {
    display: inline-block;
    margin-right: 10px;
}

.localization-list .btn > .name {
    padding-left: 10px;
    padding-right: 5px;
}

.localization-list .btn > .glyphicon {
    visibility: hidden;
}

.localization-list .btn:hover > .glyphicon {
    visibility: visible;
}

.localization-list .btn:hover > .glyphicon:hover {
    color: #ff3126;
}

.row.filters > .screen {
    display: inline-block;
    min-width: 200px;
}

.row.content > .key-values {
    margin-bottom: 15px;
}

.row.content > .key-values > .key > .key-name {
    font-size: 16px;
    font-weight: bold;
}

.row.content > .key-values > .key > .screen-tags:before {
    content: "(";
}

.row.content > .key-values > .key > .screen-tags:after {
    content: ")";
}

.row.content > .key-values > .key > .screen-tags > label {
    color: #888888;
    font-weight: normal;
}

.row.content > .key-values > .key > .screen-tags > a {
    color: #888888;
    cursor: pointer;
    text-decoration: underline;
}

.row.content > .key-values > .key > .screen-tags > a:hover {
    text-decoration: none;
}

.row.content > .key-values > .key > .screen-tags > .add-new-tags > .dropdown {
    min-width: 200px;
    display: inline-block;
}

.row.content > .key-values > ul {
    list-style: none;
}

.row.content > .key-values > ul > li {
    margin: 5px 0;
}

.row.content > .key-values > ul > li > .value > .localization {
    font-weight: normal;
    display: inline-block;
    min-width: 60px;
}

.row.content > .key-values > ul > li > .value > .exists,
.row.content > .key-values > ul > li > .value > .missed,
.row.content > .key-values > ul > li > .value > .changed {
    cursor: pointer;
}

.row.content > .key-values > ul > li > .value > .missed {
    color: #b00000;
}

.row.content > .key-values > ul > li > .value > .changed {
    padding: 2px 4px;
    background-color: #ffe264;
    color: #7b440b;
    border-radius: 4px;
}
